h1 {
    color: #ffa086;
}
html,body{
    margin:0;
    padding:0;
}
body{
    background: #fffbfb;
    color: #ff4cd5;
    font-size: 20px;
}
.root {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: red;
    color: white;
}
